<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Surname"
          label-for="surname"
          :invalid-feedback="invalidFeedbackSurname"
          :valid-feedback="validFeedbackSurname"
          :state="stateSurname"
        >
          <b-form-input
            id="surname"
            v-model="form.surname"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Birthday"
          label-for="birthday"
          :invalid-feedback="invalidFeedbackBirthday"
          :valid-feedback="validFeedbackBirthday"
          :state="stateBirthday"
        >
          <b-form-input
            id="birthday"
            v-model="form.birthday"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Education:"
          label-for="education"
          :invalid-feedback="invalidFeedbackEducation"
          :valid-feedback="validFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="education"
            v-model="form.education"
            :options="educationOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Salary"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          :valid-feedback="validFeedbackSalary"
          :state="stateSalary"
        >
          <b-form-input
            id="salary"
            v-model="form.salary"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Department:"
          label-for="department"
          :invalid-feedback="invalidFeedbackDepartment"
          :valid-feedback="validFeedbackDepartment"
          :state="stateDepartment"
        >
          <b-form-select
            id="department"
            v-model="form.department"
            :options="departmentOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        surname: '',
        birthday: '',
        gender: null,
        education: null,
        department: null,
        salary: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      educationOptions: [
        { text: 'Select One', value: null },
        { value: 'Secondary and vocational education', text: 'มัธยมศึกษาและอาชีวศึกษา' },
        { value: 'Bachelor degree', text: 'ปริญญาตรี' },
        { value: 'Master degree', text: 'ปริญญาโท' },
        { value: 'doctor degree', text: 'ปริญญาเอก' }
      ],
      departmentOptions: [
        { text: 'Select One', value: null },
        { value: 'Administrative Assistant', text: 'เจ้าหน้าที่ธุรการและฝ่ายบุคคล' },
        { value: 'Accounting Officer', text: 'พนักงานบัญชี' },
        { value: 'Marketing Department', text: 'ฝ่ายการตลาด' },
        { value: 'Business Analyst', text: ' นักวิเคราะห์ทางธุรกิจ' },
        { value: 'Receptionist', text: 'พนักงานต้อนรับ' }
      ],
      userList: [
        {
          id: 1,
          name: 'Mongkon',
          surname: 'Ruensod',
          birthday: '01/08/41',
          gender: 'M',
          education: 'Bachelor degree',
          department: 'Data Analyst',
          salary: '5'
        },
        {
          id: 2,
          name: 'Ben',
          surname: 'Ruensod',
          birthday: '10/09/41',
          gender: 'F',
          education: 'Bachelor degree',
          department: 'Administrative Assistant',
          salary: '3000000'
        }
      ],
      lastId: 3,
      fields: ['id', 'name', 'surname', 'birthday', 'gender', 'education', 'department', 'salary', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        surname: '',
        Birthday: '',
        gender: null,
        education: null,
        department: null,
        salary: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateSurname () {
      return this.form.surname.length >= 2
    },
    invalidFeedbackSurname () {
      if (this.form.surname.length > 2) {
        return ''
      } else if (this.form.surname.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่นามสุกล'
      }
    },
    validFeedbackSurname () {
      return this.stateSurname === true ? 'สำเร็จ' : ''
    },
    stateBirthday () {
      return this.form.birthday.length >= 2
    },
    invalidFeedbackBirthday () {
      if (this.form.birthday.length > 2) {
        return ''
      } else if (this.form.birthday.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ใส่วัน เดือน ปีเกิด'
      }
    },
    validFeedbackBirthday () {
      return this.stateBirthday === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else {
        return 'กรุณาเลือกระดับการศึกษา'
      }
    },
    validFeedbackEducation () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    },
    stateSalary () {
      return this.form.salary.length >= 2
    },
    invalidFeedbackSalary () {
      if (this.form.salary.length > 2) {
        return ''
      } else if (this.form.salary.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ใส่เงินเดือน'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'สำเร็จ' : ''
    },
    stateDepartment () {
      return this.form.department != null
    },
    invalidFeedbackDepartment () {
      if (this.form.department != null) {
        return ''
      } else {
        return 'กรุณาเลือกตำแหน่งงาน'
      }
    },
    validFeedbackDepartment () {
      return this.stateDepartment === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
